<html lang="en">
  <head>
    <%- include("./partials/head.ejs")%>

  <body>
    <div class="container">
      <%- include("./partials/nav.ejs")%>
      <div class="blogs contant">
        <h2>About us</h2>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam quos
          blanditiis ipsum aliquid mollitia at saepe suscipit numquam id quod.
          Tenetur veniam iste facere deleniti dolorum repellendus laborum
          voluptatum dolor?
        </p>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam quos
          blanditiis ipsum aliquid mollitia at saepe suscipit numquam id quod.
          Tenetur veniam iste facere deleniti dolorum repellendus laborum
          voluptatum dolor?
        </p>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam quos
          blanditiis ipsum aliquid mollitia at saepe suscipit numquam id quod.
          Tenetur veniam iste facere deleniti dolorum repellendus laborum
          voluptatum dolor?
        </p>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam quos
          blanditiis ipsum aliquid mollitia at saepe suscipit numquam id quod.
          Tenetur veniam iste facere deleniti dolorum repellendus laborum
          voluptatum dolor?
        </p>
      </div>
    
      <%- include("./partials/footer.ejs")%>
    
    </div>
  </body>
</html>
